<table id="data_table">
    <thead>
    <tr>
        <th>Emp Code</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mobile</th>
    </tr>
    </thead>

    <tbody>
    <!-- Dynamic Body -->
    </tbody>
</table>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
{% endblock %}
<script>
    $(document).ready(function(){
        var data = [];
        data.push(
            [1,"Sasha","Brenna","0800 1111"],
            [2,"Sage","Mia","(01012) 405872"],
            [3,"Chelsea","Allistair","076 0578 0265"],
            [4,"Uta","Savannah","070 1247 5884"],
            [5,"Remedios","Berk","0995 181 0007"],
            [6,"Ruby","Wayne","0800 1111"],
            [7,"Faith","Fredericka","(01709) 099879"],
            [8,"Myra","Harrison","070 4241 9576"],
            [9,"Drake","Miriam","0800 733635"],
            [10,"Reed","Shannon","076 8597 5067"]
        );


        console.log(data);
    });
</script>